*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../rsc/Khalid/space-background.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#original_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#neptune{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#neptune img{
    width: 30px;
    height: 30px;
    animation: neptune_rolling 80s linear infinite;
}

@keyframes neptune_rolling{
    0%{
        transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(250px) rotate(360deg);
    }
}

#venus{
    width: 220px;
    height: 220px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
}