*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-image: url(../rsc/Khalid/space-background.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#neptune{
    height: 800px;
    width: 800px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#neptune>img{
    /* position: relative; */
    height: 50px;
    width: 50px;
    animation: neptune_rolling 75s linear infinite;
}

@keyframes neptune_rolling{
    0%{
        transform: rotate(0deg) translate(400px) rotate(0deg);
    }

    100%{
        transform: rotate(360deg) translate(400px) rotate(360deg);
    }
}

#uranus{
    height: 700px;
    width: 700px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#uranus >img{
    height: 50px;
    width: 50px;
    animation: uranus_rolling 65s linear infinite;
}

@keyframes uranus_rolling{
    0%{
        transform: rotate(0deg) translate(350px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(350px) rotate(360deg);
    }
}

#venus{
    height: 625px;
    width: 625px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#venus>img{
    height: 40px;
    width: 40px;
    animation: venus_rolling 55s linear infinite;
}

@keyframes venus_rolling{
    0%{
        transform: rotate(0deg) translate(310px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(310px) rotate(360deg);
    }
}

#jupiter{
    height: 550px;
    width: 550px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#jupiter>img{
    height: 40px;
    width: 40px;
    animation: jupiter_rolling 45s linear infinite;
}

@keyframes jupiter_rolling{
    0%{
        transform: rotate(0deg) translate(275px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(275px) rotate(360deg);
    }
}

#saturn{
    height: 480px;
    width: 480px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#saturn>img{
    height: 60px;
    width: 60px;
    animation: saturn_rolling 35s linear infinite;
}

@keyframes saturn_rolling{
    0%{
        transform: rotate(0deg) translate(235px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(235px) rotate(360deg);
    }
}

#earth{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#earth>img{
    height: 50px;
    width: 55px;
    animation: earth_rolling 25s linear infinite;
}

@keyframes earth_rolling{
    0%{
        transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(200px) rotate(360deg);
    }
}

#mars{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#mars img{
    height: 50px;
    width: 50px;
    animation: mars_rolling 20s linear infinite;
}

@keyframes mars_rolling{
    0%{
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(150px) rotate(360deg);
    }
}

#mercury{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#mercury img{
    height: 40px;
    width: 40px;
    animation: mercury_rolling 18s linear infinite;
}

@keyframes mercury_rolling{
    0%{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(100px) rotate(360deg);
    }
}

#sun {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    /* box-shadow: 0 0 75px  rgb(241, 226, 14); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun>img {
    height: 500px;
    width: 500px;
    border-radius: 100%;   
    background-color: transparent;
    pointer-events: none;
}

/* end of copy from saifullah */

/* start of farjana copy */

/* .sun{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background:url("../rscs/sun.jpeg");
    background-position: center;
    box-shadow: 0 0 75px  rgb(241, 226, 14);
    position: absolute
    
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../rscs/galaxy.jpeg);
}
.earth{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url(../rscs/earth.jpg);
    position: relative;
    background-position: center;
    animation: earth-orbit 7s linear infinite;
    box-shadow: 0 0 75px  rgb(48, 171, 242);
}

.earth::after{
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url(../rscs/moon.jpg);
    border: none;
    background-position: center;
    align-items: center;
    animation: moon-orbit 3.5s linear infinite;
    box-shadow: 0 0 45px  white;
}
@keyframes  earth-orbit{
    from{
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes  moon-orbit{
    from{
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
}

@media (max-width:768px) {
    .container{
        flex-direction: column;
    }
} */