*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}
#main_div{
    background-image: url(../rsc/Khalid/space-background.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#original_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#neptune{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 1px dashed whitesmoke;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#neptune img{
    width: 30px;
    height: 30px;
    animation: neptune_rolling 80s linear infinite;
}

@keyframes neptune_rolling{
    0%{
        transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(250px) rotate(360deg);
    }
}

#venus{
    width: 450px;
    height: 450px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#venus img{
    width: 25px;
    height: 25px;
    animation: venus_rolling 70s linear infinite;
}
@keyframes venus_rolling{
    0%{
        transform: rotate(0deg) translate(225px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(225px) rotate(360deg);
    }
}

#uranus{
    width: 400px;
    height: 400px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

#uranus img{
    width: 30px;
    height: 30px;
    animation: uranus_rolling 60s linear infinite;
}

@keyframes uranus_rolling{
    0%{
        transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(200px) rotate(360deg);
    }
}

#jupiter{
    width: 350px;
    height: 350px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#jupiter img{
    width: 25px;
    height: 25px;
    animation: jupiter_rolling linear 50s infinite;
}

@keyframes jupiter_rolling{
    0%{
        transform: rotate(0deg) translate(175px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(175px) rotate(360deg);
    }
}

#mercury{
    width: 300px;
    height: 300px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mercury img{
    width: 30px;
    height: 30px;
    animation: mercury_rolling 40s linear infinite;
}
@keyframes mercury_rolling{
    0%{
        transform: rotate(0deg) translate(150px) rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg) translate(150px) rotate(360deg);
    }
}

#earth{
    width: 250px;
    height: 250px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#earth img{
    width: 25px;
    height: 25px;
    animation: earth_rolling 30s linear infinite;
}
@keyframes earth_rolling{
    0%{
        transform: rotate(0deg) translate(125px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(125px) rotate(360deg);
    }
}

#mars{
    width: 200px;
    height: 200px;
    border: 1px dashed whitesmoke;
    border-radius: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
#mars img{
    width: 25px;
    height: 25px;
    animation: mars_rolling 20s linear infinite;
}

@keyframes mars_rolling{
    0%{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(100px) rotate(360deg);
    }
}

#sun {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun>img {
    height: 300px;
    width: 300px;
    border-radius: 100%; 
    /* box-shadow: 0 0 75px  rgb(241, 226, 14);   */
    background-color: transparent;
    pointer-events: none;
}